---
import BlogLayout from "../../layouts/BlogLayout.astro";
import { Code } from "astro/components"

const code = `
    // So apparently whatever I was planning on doing was already available as an astro plugin lol
    // I will customize the codeblocks so that I can get the right aesthetic I'm looking for
    import { Prism as SyntaxHighlighter } from 'react-syntax-highlighter';
    import { dark } from 'react-syntax-highlighter/dist/esm/styles/prism';
    const Component = () => {
        const codeString = '(num) => num + 1';
        return (
            <SyntaxHighlighter language="javascript" style={dark}>
                {codeString}
            </SyntaxHighlighter>
        );
    };\n\n`;
---

<BlogLayout title="Blog">
    <section
        class="w-full h-screen max-w-7xl flex flex-col items-center mx-auto"
    >
        <h1 class="mb-6 mt-24 uppercase tracking-[20px] text-gray-500 text-2xl">
            blog index
        </h1>

        <div class="flex flex-col px-5 md:px-0">
            <p>
                This is a fun little side project I intend on updating every now
                and then when I encounter a fun problem/solution I want to share
            </p>
            <p>
                I intend on uploading the challenges I face and the solutions I
                come up with, as well as relevant code snippets in order to have
                more context
            </p>
            <Code lang="js" code={code} theme="dark-plus" wrap/>
        </div>
    </section>
</BlogLayout>
