---
import BlogLayout from "../../layouts/BlogLayout.astro";
---

<BlogLayout title="Blog">
    <section class="w-screen h-screen max-w-7xl flex flex-col items-center">
        <h1>Welcome to my blog!</h1>
        <h2>Site in construction...</h2>
    </section>
    
</BlogLayout>
